@import './variables.scss';

body {
    background-color: #fff;
    margin: 0;
    overflow: hidden;
    font-family: $roboto;
    touch-action: manipulation;
}

.app {
    position: relative;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    transition: all .15s ease;
    font-family: $roboto;
}

a {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    transition: all .15s ease;
}

h1,h2,h3 {
    margin: 0;
}

p {
    margin: 0;
}